# {{ansible_managed}}

[Unit]
Description=HAP-NodeJS

[Service]
User={{hap_user}}
Group={{hap_user}}
Restart=always
RestartSec={{hap_restart_sec}}

WorkingDirectory={{hap_dest}}
ExecStart=/usr/bin/node {{hap_dest}}/Core.js

[Install]
WantedBy=default.target
